.forecast-header {
    font-size: 65px;
    color: #333;
    font-weight: 100;
    text-align: center;
}

h1 {
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.forecast-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}